* {
  background-color: #000000;
  text-color: #f0f0f0;
  width: 220px;
  height: 320px;
}

window {
  padding: 1 1;
  background-color: #000000;
}

prompt {
  enabled: false;
}

textbox {
  padding: 12px;
}

entry {
  padding: 12px;
}

element {
  padding: 12px;
}

element selected {
  background-color: #ac8aac;
  border: 7 7 7 7;
}

selected, element-text {
  background-color: #ac8aac00;
}
